# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.TestExercise.iml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/Library/
/Logs/
/ProjectSettings/
/Temp/
/UserSettings/
/Assembly-CSharp.csproj
/TestExercise.sln
/TestExercise.unity
/TestExercise.zip
/Assets/TextMesh Pro/
/Assets/TextMesh Pro.meta

